<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue基础示例04</title>
	</head>
	<body>
		<div id="app">
			<!-- 键盘修饰符写法   keydown.ctrl.enter 这个是指同时按住ctrl和enter时触发-->
			<input type="text" id="appInput" v-on:keydown.enter="inputKeyDown" v-model="val" />
			<ul>
				<li v-for="(item,index) in arr">{{item}}<span v-on:click="delItem(index)">&nbsp;&nbsp;删除</span></li>
			</ul>
		</div>
		<script src="../js/vue.js"></script>
		<script>
			let vm = new Vue({
				el : "#app",
				data : {
					val : "",
				    arr : []
				},
				methods: {
	                inputKeyDown:function () {
	                	//demo式写法
						/*if(event.keyCode === 13){
							this.arr.unshift(this.val);
							this.val = "";
						}*/
						this.arr.unshift(this.val);
						this.val = "";
	                },
	                delItem:function(i){
	                	this.arr = this.arr.filter((item,index) => index != i);
	                }
				}
			});
		</script>
	</body>
</html>
