<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>vue基础示例01</title>
	</head>
	<body>
	<!-- 可以存放值 表达式 计算 三元运算符  但是要尽量少写逻辑 computed -->
	<div id="test01">{{msg}}</div>
	<!-- 指令是dom元素的行间属性 v-开头 后面的都是变量 这里的msg就是变量 -->
	<div id="test02" v-bind:title="msg">
		鼠标停留触发
	</div>
	<div id="test03" v-if="seen">是否可见,通过vueTest03.seen = false,将状态转为不可见</div>
	<div id="test04">
		<!-- v-for是被循环的项上的属性 推荐使用item in list的写法 -->
		<!-- $0可以打印出在控制台中选中的元素 -->
		<span v-for="item in itemList">{{item.id}}、{{item.text}}</span>
		<!--
		<span v-for="item of itemList">{{item.id}}、{{item.text}}</span>
		-->
		<!--<ul>
			<li v-for="item in itemList" v-if="item.id == 1">
				<span>{{item.id}}、{{item.text}}</span>
			</li>
		</ul>-->
		<!-- index是索引 可以计算 -->
		<!-- 在第二次循环时因为有作用域  所以不能再命名为index -->
		<ul>
			<li v-for="(item,index) in itemList">
				<span>
					{{item.id}}、{{item.text}}、{{index + 1}}
					<span v-for="arrItem in item.arr">数值{{arrItem}} </span>
				</span>
			</li>
		</ul>
		<!-- 也可以用于循环字符串和数字 -->
		<!-- v-for="(value,key,index) in obj" 循环对象 -->
	</div>
	<div id = "test05">
		<p>{{msg}}</p>
		<button v-on:click="changeMsg();">{{btnMsg}}</button>
		<!--<button @:click="changeMsg();">{{btnMsg}}</button>-->
		<!-- 如果不传参不需要括号  如果手动传参 时间源为$event -->
	</div>
	<div id="test06">
		<p>{{msg}}</p>
		<input v-model="msg">
	</div>

	<div id="test07">
		<ul>
			<todo-item v-for = "item in list" v-bind:todo = "item" v-bind:key = "item.id"></todo-item>
		</ul>
	</div>

	<script src="../js/vue.js"></script>
	<script>
		//el 必须是选择  也可以使用.class
		var vueTest01 = new Vue({
			el : "#test01",
			data : {
			    msg : "test01"
			}
		});

        var vueTest02 = new Vue({
            el : "#test02",
            data : {
                msg : "页面加载于" + new Date().toLocaleString()
            }
        });

        var vueTest03 = new Vue({
			el : "#test03",
			data : {
			    seen : true
			}
		});

		var vueTest04 = new Vue({
			el : "#test04",
			data : {
			    itemList : [
					{id : 1, text : "第一项",arr : ["1","2","3"]},
					{id : 2, text : "第二项",arr : ["1","2","3"]},
					{id : 3, text : "第三项",arr : ["1","2","3"]}
				]
			}
		});
		//onclick 绑定的方法都是window上的方法
		//data与methods上的数据会放到el上  而且名字不能相同  methods中的this指向实例
		//这里的this指向vueTest05 
		var vueTest05 = new Vue({
			el : "#test05",
			data : {
			    msg : "12345",
				btnMsg : "消息逆转"
			},
			methods: {
                changeMsg:function () {
					this.msg = this.msg.split("").reverse().join("");
                }
			}
		});

		var vueTest06 = new Vue({
			el : "#test06",
			data : {
			    msg:"双向绑定"
			}
		})

		Vue.component("todo-item",{
			props:["todo"],
			template:"<li>{{todo.text}}</li>"
		});
		
		var vueTest07 = new Vue({
			el : "#test07",
			data :{
			    list:[
					{id: 1, text: "第一项"},
					{id: 2, text: "第二项"}
				]
			}
		});
	</script>
	</body>
</html>
