/*聊天窗与消息样式*/
.main-content-body{
    padding: 0px 24px;
    width: auto;
    height: 100%;
    overflow: auto;
}
.system-message{
    text-align: center;
    margin: auto;
}
.chat-history{
	margin-top: 10px;
}
.system-line{
	width: 140px;
	color: #e5e8ea;
	position: relative;
    top: 2px;
}
.system-message .content{
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #8b8b8b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: auto;
    margin-top: 4px;
}
.content .system-history{
	color:#2184e7;
}
.content .system-history-end{
	color:#777;
}
.system-time{
	padding: 2px 5px;
	background-color: #e3e3e3;
	font-size: 12px;
	color: #fff;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}






















