/*amazeui*/
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
html {
    display: block;
}
body {
    position: relative;
    background: #fff;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    font-size: 1.6rem;
}
.am-padding-sm {
    padding: 1rem;
}
.am-btn {
    display: inline-block;
    margin-bottom: 0;
    padding: .5em 1em;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
    transition: background-color .3s ease-out,border-color .3s ease-out;
}
.am-btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.am-navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    z-index: 1010;
}
.am-navbar-nav {
    position: relative;
    z-index: 1015;
}
.am-navbar ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.am-navbar .am-navbar-nav {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    overflow: hidden;
}
.am-navbar-default .am-navbar-nav {
    background-color: #0e90d2;
}

[class*=am-avg-] {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
[class*=am-avg-]:after, [class*=am-avg-]:before {
    content: " ";
    display: table;
}
.am-cf:after, .am-cf:before {
    content: " ";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.am-cf:after {
    clear: both;
}
.am-cf:after, .am-cf:before {
    content: " ";
    display: table;
}
[class*=am-avg-]:after {
    clear: both;
}
[class*=am-avg-]:after, [class*=am-avg-]:before {
    content: " ";
    display: table;
}
[class*=am-avg-]>li {
    display: block;
    height: auto;
    float: left;
}
.am-avg-sm-4>li {
    width: 25%;
}
.am-avg-sm-4>li:nth-of-type(n) {
    clear: none;
}
.am-avg-sm-4>li:nth-of-type(4n+1) {
    clear: both;
}
.am-navbar .am-navbar-nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
a {
    background-color: transparent;
}
a, ins {
    text-decoration: none;
}
a {
    color: #0e90d2;
}
.am-navbar-nav a {
    display: inline-block;
    width: 100%;
    height: 49px;
    line-height: 20px;
}
.am-navbar-default a {
    color: #fff;
}
.am-navbar-default a {
    color: #68605f;
}
.am-navbar-nav a .am-navbar-label {
    padding-top: 2px;
    line-height: 1;
    font-size: 12px;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}













.am-navbar-default .am-navbar-nav{
    background-color: #fff;
}
.am-navbar-default a{
    color: #68605f;
}
.am-navbar-default .iconfont{
    position: relative;
}
.p-index-wrap{
	background:url(../images/bg_index.png);
	background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 16rem;
	display: block;
}
#indexHead{
	width: 100%;
    overflow: hidden;
    white-space: nowrap;
	padding: 0.3rem;
	font-size: 0.42rem;
	text-align: center;
}
.p-field-flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.p-field-left,.p-field-right{
	flex:1;
	position: absolute;
	top: 2rem;
	margin-top: 0.3rem;
}
.p-field-left{
	font-size: 0.4375rem;
	color: #fff005;
	margin-top: 0;
}
.p-field-left .text-bg{
	padding: 0.1rem 0.3rem;
    background-color:#000000;
  	background-color:rgba(0,0,0,0.2);
}
.p-field-left .text{
	color: #fff005;
}
.p-field-right{
	font-size: 0.375rem;
	color: #fff;
	right: 0.2rem;
	vertical-align: bottom;
}
.p-field-right a{
	color: #fff;
	background: #ce2222;
	padding: 0.1rem;
}
#contentText{
	position: absolute;
	top: 4.51rem;
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
	font-size: 0.42rem;
	text-align: center;
	color: #f8f400;
}
.p-hb-content{
	position: absolute;
	top: 5.91rem;
	width: 100%;
}
.p-hb-left,.p-hb-right{
	flex: 1;
}
.p-hb-bg{
	background: url(../images/HONGbao.gif);
	width: 3rem;
	height: 2.3rem;
	background-size:100% ;
}
.p-hb-left{
	padding-left: 1.4rem;
}
.p-hb-title,.p-hb-main{
	color:#f8f400;
	text-align: center;
}
.p-hb-title{
	font-size: 0.375rem;
	padding-top: 0.8rem;
}
.p-hb-main{
	font-size: 0.375rem;
	font-weight: bold;
}
.p-hb-line{
	padding-top: 0.5rem;
}








.p-nav-icon{
	display: inline-block;
	width: 22px;
	height: 23.5px;
	margin-top: 3px;
    margin-bottom: -5px;
}
.p-navIcon1{
	background: url(../images/icon-1.png);
	background-size:100% ;
}
.p-navIcon2{
	background: url(../images/icon-2.png);
	background-size:100% ;
}
.p-navIcon3{
	background: url(../images/icon-3.png);
	background-size:100% ;
}
.p-navIcon4{
	background: url(../images/icon-4.png);
	background-size:100% ;
}



/*推广页面*/
.p-extension{
	background:url(../images/bg_extension.png);
	background-size:cover;
	background-repeat:no-repeat;
	max-width: 100%; 
	min-height: 11.2rem;
	display: block;
}
.p-extension-btn{
	padding: 6.5rem 0;
}
.btn-extension-red{
	background: url(../images/btn-ren.png);
	background-size:100% 100%;
	color: #fff;
	font-size: 0.7rem;
    padding: 0;	
    margin: auto;
    margin-bottom: 0.5rem;
}
.btn-extension-yellow{
	background: url(../images/btn-yellow.png);
	background-size:100% 100%;
	color: #ce2222;
	font-size: 0.7rem;
    padding: 0;	
    margin: auto;
}
.btn-extension{
  	min-height: 1.2rem;
  	width:6rem;
  	border: 0;
}
.btn-extension .btn-extension-text{
	position: relative;
	top: -0.1rem;
}