.px-me-article{
	max-width: 1200px;
	background-color: #fff;
	padding: 0px 45px 150px 45px;
	margin: auto;
	color: #333;
	font-size: 14px;
	line-height: 30px;
}
.px-me-article .px-me-passage{
	text-indent:2em;
	padding-top: 30px;
}
.px-me-article .px-me-warning{
	text-indent:2em;
	padding-top: 30px;
	font-weight: bolder;
}
.px-me-article .px-me-line{
	width: 100%;
	height: 1px;
	background: #d6d6d6;
	margin-top: 10px;
	margin-bottom: 15px;
}
.px-me-article .px-me-title{
	background: #eaeaea;
	padding: 8px 20px;
	font-weight: bolder;
}
.px-me-article .px-me-list{
	padding: 20px 10px 40px 10px;
}
.px-me-article .px-me-list .item{
    line-height: 30px;
    text-indent: 2em;
}

.px-me-cell{
	max-width: 1200px;
	background-color: #fff;
	margin: auto;
	color: #333;
	font-size: 14px;
}

.px-me-cell .info-list{
	width: 100%;
}
.px-me-cell .info-list .item{
	padding: 30px 20px 45px 20px;
	text-align: center;
}
.px-me-cell .info-list .item .iconfont{
	font-size: 60px;
	color: #646464;
}
.px-me-cell .info-list .item .title{
	font-weight: bolder;
	color: #333;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 15px;
}
.px-me-cell .info-list .item .info{
	max-height: 40px;
	overflow: hidden;
}
.px-me-map{
	width: 100%;
	margin-bottom: 70px;
	-moz-box-shadow: 0px 0px 12px #d7d7d7;
	box-shadow: 0px 0px 12px #d7d7d7;
	overflow: hidden;
}
.px-me-map>img{
	width: 100%;
}
@media (max-width: 1190px) {
	.wrapper .px-head-title{
		margin-top: 45px;
	}
}