.wrapper{
	background: #f7f7f7;
}
.px-article{
	max-width: 1200px;
	background-color: #fff;
	padding: 40px 45px 150px 45px;
	margin: auto;
	color: #333;
	font-size: 14px;
}
.px-article .px-article-title{
	font-size: 16px;
	color: #333;
	text-align: center;
}
.px-article .px-article-time{
	text-align: center;
	font-size: 12px;
	color: #adadad;
	padding:6px 0;
}
.px-article .px-article-info{
	padding: 15px 17px 15px 12px;
	background-color: #f5f5f5;
	text-indent:2em;
	line-height: 30px;
	margin-bottom: 25px;
}
.px-article .px-article-passage{
	text-indent:2em;
	line-height: 30px;
}
.px-article .px-article-img{
	padding: 50px 80px;
}
.px-article .px-article-img>img{
	width: 100%;
}
@media (max-width: 768px){
	.px-article .px-article-img {
	    padding: 30px 0;
	}
}




















