html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockqupte,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
div{box-sizing: border-box;}
img{border: 0;}
.clearfix:after{
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: "."; 
	clear: both; 
	height: 0; 
	zoom: 1; 
}

.px-head-title{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.px-head-title>img{
	display: block;
	width: 100%;
}
.px-head-title>.content{
	position: absolute;
	text-align: center;
	height: 50%;
    top: 50%;
    left: 50%;
}
.px-head-title>.content>.content-title,.px-head-title>.content>.content-line,.px-head-title>.content>.content-info{
	position: relative;
    left: -50%;
    top: -25%;
}
.px-head-title>.content>.content-title{
	color: #fff;
	font-size: 22px;
}
.px-head-title>.content>.content-line{
	margin: 0;
    margin-top: 10px;
    height: 2px;
    background: #fff;
    width: 20px;
    left: -10px;
}
.px-head-title>.content>.content-info{
	white-space: nowrap;
	margin-top: 10px;
	font-size: 14px;
	color: #666566;
}

.px-foot{
	width: 100%;
}
.px-site-info{
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #b3b3b3;
	font-size: 14px;
    background: #000;
    overflow: hidden;
}
.px-foot-container{
	width: 100%;
	min-height: 190px;
	background-color: #202020;
}
.px-foot-container>.px-foot-main{
	max-width: 1200px;
	margin: auto;
	color: #b3b3b3;
}
.px-foot-logo{
	float: left;
    width: 20%;
    min-width: 165px;
    padding-left: 80px;
}
.px-foot-logo>.px-title{
	padding-top: 15px;
	font-size: 16px;
}
.px-foot-logo>.px-number{
	padding: 30px 0 25px 0;
}
.px-foot-logo>.px-logo{
	width: 135px;
	height: 28px;
	background: url(../Images/logo2.png);
}
.px-foot-address{
	max-width: 470px;
	min-width: 390px;
	width: 40%;
	float: left;
}
.px-address-msg{
	width: 390px;
	padding-top: 45px;
	font-size: 12px;
	line-height: 20px;
	margin: auto;
}
.px-foot-tel{
	max-width: 310px;
	min-width: 150px;
	width: 20%;
	float: left;
}
.px-tel-msg{
	width: 150px;
	padding-top: 45px;
	font-size: 12px;
	line-height: 20px;
	margin: auto;
}
.px-foot-code{
	max-width: 250px;
	min-width: 168px;
	width: 20%;
	padding-top: 25px;
	float: left;
}
.px-foot-code>img{
	width: 128px;
	height: 128px;
	margin: auto;
	display: block;
}
.px-foot-code>.px-code-text{
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding-top: 6px;
}
.px-ui-textellipsis{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 992px){
	.px-foot-logo{
		padding-left: 0;
	}
	.px-foot-code{
		float: right;
	}
}

@media (max-width: 768px){
	.px-head-title>.content {
	    top: 10px;
	}
}
@media (max-width: 480px){
	.px-head-title>.content>.content-title{
		font-size: 16px;
	}
	.px-head-title>.content>.content-line{
		margin-top: 2px;
	}
}