@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Sans GB', '微软雅黑', arial, sans-serif;
  color: #333;
  font-weight: normal;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
p,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
select,
textarea,
blockquote {
  padding: 0;
  margin: 0;
}
ul,
li,
ol {
  list-style-type: none;
}
img {
  border: 0;
  vertical-align: bottom;
}
a {
  color: #95989A;
  text-decoration: none;
}
i,
b {
  font-weight: normal;
  font-style: normal;
}
a:hover {
  text-decoration: none;
  outline: none;
}
input,
select,
textarea {
  outline: none;
}
em {
  font-style: normal;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.imgw100 {
  width: 100%;
}
.Animation {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.relative {
  position: relative;
}
/*图放大动画*/
.imgH {
  overflow: hidden;
}
.imgH img {
  width: 100%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.imgH:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@font-face {
  font-family: "iconfont";
  src: url('Font/iconfont.eot?t=1488951598218');
  src: url('Font/iconfont.eot?t=1488951598218#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Font/iconfont.woff?t=1488951598218') format('woff'), /* chrome, firefox */ url('Font/iconfont.ttf?t=1488951598218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('Font/iconfont.svg?t=1488951598218#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fB {
  font-weight: bold;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconset0349:before {
  content: "\e6f8";
}
.icon-iconset0357:before {
  content: "\e700";
}
.icon-upload:before {
  content: "\e60f";
}
.icon-matou:before {
  content: "\e63b";
}
.icon-caiji:before {
  content: "\e835";
}
.icon-shebei:before {
  content: "\e838";
}
.icon-icon-test:before {
  content: "\e62c";
}
.icon-caijishebeixinxichaxun:before {
  content: "\e610";
}
.icon-tiaoshi:before {
  content: "\eb61";
}
.icon-rengongzhineng:before {
  content: "\e607";
}
.icon-fanganguihua:before {
  content: "\e644";
}
.icon-fuwuqizu:before {
  content: "\e6a5";
}
.icon-shuju1:before {
  content: "\e60b";
}
.icon-zijinguijiyuefenbutongji:before {
  content: "\e62e";
}
.icon-qiyequanxianchaxun:before {
  content: "\e663";
}
.icon-xiaoxihezi-kong:before {
  content: "\e682";
}
.icon-tubiao-1:before {
  content: "\e60d";
}
.icon-tubiao-:before {
  content: "\e614";
}
.icon-shuju:before {
  content: "\e629";
}
.icon-zhihuichengshi:before {
  content: "\e60c";
}
.icon-cloudphotozhinengyunxiangce:before {
  content: "\e8a6";
}
.icon-icon-:before {
  content: "\e637";
}
.icon-gongzhonghaoyunyinggongju:before {
  content: "\e664";
}
.icon-gongzhonghaoguanli:before {
  content: "\e665";
}
.icon-shuju2:before {
  content: "\e6a7";
}
.icon-map:before {
  content: "\e617";
}
.icon-telephone4:before {
  content: "\e666";
}
.icon-message:before {
  content: "\e6b5";
}
.icon-net:before {
  content: "\e60e";
}
.icon-chart-:before {
  content: "\e61c";
}
.red {
  color: #ed4539;
}
.BlueBg {
  background: #f2f8fe;
}
.pb50 {
  padding-bottom: 50px;
}
.pt0 {
  padding-top: 0 !important;
}
.C333 {
  color: #333;
}
.mt100 {
  margin-top: 100px;
}
.mr30 {
  margin-right: 30px;
}
html {
  font-size: 32px;
}
@media (min-width: 320px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 50px;
  }
}
.con-w2 {
  width: 20%;
}
.con-w25 {
  width: 25%;
}
.con-w3 {
  width: 33.3%;
}
.con-w4 {
  width: 40%;
}
.con-w5 {
  width: 50%;
}
.con-w6 {
  width: 60%;
}
.con-w7 {
  width: 70%;
}
.con-w8 {
  width: 80%;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.wrapper .conMain {
  width: 1190px;
  margin: 0 auto;
}
.wrapper .banner img {
  width: 100%;
}
.wrapper .navBtn {
  display: none;
  width: 45px;
  height: 45px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.wrapper .navBtn:before {
  content: '';
  display: block;
  width: 25px;
  height: 5px;
  border-top: 1px solid #00c0fc;
  border-bottom: 1px solid #00c0fc;
  margin: 15px auto 5px;
}
.wrapper .navBtn:after {
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  background: #00c0fc;
  margin: 0 auto;
}
.wrapper .navBtn:hover {
  background: #00c0fc;
}
.wrapper .navBtn:hover:before {
  border-color: #fff;
}
.wrapper .navBtn:hover:after {
  background: #fff;
}
.wrapper .header {
  line-height: 83px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
.wrapper .header .nav li {
  float: left;
  font-size: 16px;
  position: relative;
}
.wrapper .header .nav li a {
  padding: 0 20px;
  display: block;
  color: #fff;
  position: relative;
}
.wrapper .header .nav li a:hover:before,
.wrapper .header .nav li a.active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #00b4ff;
}
.wrapper .header .nav li .twomenu {
  display: none;
  position: absolute;
  top: 83px;
  left: -45px;
  width: 200px;
  border-top: 2px solid #00b4ff;
}
.wrapper .header .nav li .twomenu .txtm {
  background: rgba(51, 51, 51, 0.6);
  color: #fff;
  padding: 10px 5px;
  font-size: 0.28rem;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.wrapper .header .nav li .twomenu .txtm:hover {
  background: rgba(0, 180, 255, 0.8);
}
.wrapper .header .nav li:hover .twomenu {
  display: block;
}
.wrapper .header .logohide {
  display: none;
}
.wrapper .header.addbg {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.wrapper .header.addbg .logohide {
  display: block;
}
.wrapper .header.addbg .logo {
  display: none;
}
.wrapper .header.addbg .nav li a {
  color: #333333;
}
.wrapper .name {
  color: #333;
}
.wrapper .titleset {
  padding: 50px 0;
  text-align: center;
  line-height: 1;
}
.wrapper .titleset p {
  font-weight: bold;
  font-size: 0.6rem;
  color: #333;
}
.wrapper .titleset span {
  color: #b5b5b5;
  font-size: 0.36rem;
}
.wrapper .boxF1 {
  background: url(../Images/box1.png);
  background-size: 100% 100%;
}
.wrapper .titleboxF1 .more {
  text-align: center;
}
.wrapper .titleboxF1 .more a {
  display: inline-block;
  width: 204px;
  height: 87px;
  font-size: 0.28rem;
  background: url(../Images/Img-more.png);
  line-height: 87px;
  color: #333;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.wrapper .titleboxF1 .more a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #00b4ff;
}
.wrapper .titleboxF1 .title_tabs li {
  cursor: pointer;
  float: left;
  width: 20%;
  padding: 0 10px;
  display: block;
  font-size: 0.28rem;
  color: #333;
  text-align: center;
  position: relative;
  padding-top: 60px;
}
.wrapper .titleboxF1 .title_tabs li i {
  color: #333;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16px;
}
.wrapper .titleboxF1 .title_tabs li i:before {
  font-size: 40px;
}
.wrapper .titleboxF1 .title_tabs li:hover {
  color: #ffb20e;
}
.wrapper .titleboxF1 .title_tabs li:hover i {
  color: #ffb20e;
}
.wrapper .titleboxF1 .title_tabs .hover {
  color: #ffb20e;
}
.wrapper .titleboxF1 .title_tabs .hover i {
  color: #ffb20e;
}
.wrapper .tabs_box .boxno1 {
  padding: 70px 10px 50px;
  letter-spacing: 1px;
}
.wrapper .tabs_box .boxno1 .boxno1-l img {
  width: 100%;
  cursor: pointer;
}
.wrapper .tabs_box .boxno1-r {
  padding: 0 30px;
  font-size: 0.28rem;
  color: #333;
}
.wrapper .tabs_box .boxno1-r .txt {
  text-indent: 2em;
  padding: 10px 0;
  line-height: 1.5;
}
.wrapper .tabs_box .boxno1-r .iconbox {
  padding: 30px 0 20px 65px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .tabs_box .boxno1-r .iconbox p {
  white-space: nowrap;
  overflow: hidden;
}
.wrapper .tabs_box .boxno1-r .iconbox span {
  color: #979799;
  font-size: 0.28rem;
}
.wrapper .tabs_box .boxno1-r .iconbox .imgbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
.wrapper .tabs_box .boxno1-r .iconbox:hover {
  color: #00b4ff;
}
.wrapper .tabs_box .boxno1-r .iconbox:hover span {
  color: #333;
}
.wrapper .tabs_box .boxno1-r .setnew {
  padding: 20px 10px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .tabs_box .boxno1-r .setnew:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.wrapper .planBox {
  background: url(../Images/box2.png) 100% 100%;
}
.wrapper .planBox .planinfo {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .planBox .planinfo .imgsize {
  width: 100%;
}
.wrapper .planBox .planinfo .txtinfo {
  position: absolute;
  top: 60%;
  left: 0;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .planBox .planinfo .txtinfo .iconfont {
  font-size: 0.48rem;
  font-weight: bold;
  position: relative;
}
.wrapper .planBox .planinfo .txtinfo .iconfont:before {
  font-weight: normal;
  font-size: 1.6rem;
  position: absolute;
  top: -1.9rem;
  left: 50%;
  margin-left: -0.76rem;
}
.wrapper .planBox .planinfo .txtinfo .txt2 {
  padding-top: 0.6rem;
  font-size: 0.28rem;
  max-height: 120px;
  overflow: hidden;
  line-height: 1.5;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .planBox .planinfo .txtinfo .btn {
  font-size: 0.24rem;
  cursor: pointer;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  display: inline-block;
  width: 130px;
  height: 45px;
  line-height: 45px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .planBox .planinfo:hover .btn,
.wrapper .planBox .planinfo:hover .txt2 {
  opacity: 1;
  filter: alpha(opacity=100);
}
.wrapper .planBox .planinfo .bgset {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: rgba(0, 180, 255, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .planBox .planinfo:hover .txtinfo {
  top: 40%;
}
.wrapper .planBox .planinfo:hover .bgset {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
}
.wrapper .dataBox {
  padding-bottom: 80px;
  background: #f8f8f8;
}
.wrapper .dataBox .mapBox {
  width: 100%;
  height: 100%;
  padding: 0 220px 120px 0;
}
.wrapper .dataBox .mapBox img {
  width: 100%;
}
.wrapper .dataBox .data-right {
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper .dataBox .data-right li {
  text-align: center;
  width: 4.4rem;
  padding: 15px 0 ;
  margin: 10px 0 50px;
  font-size: 0.28rem;
  color: #333;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 180, 255, 0.5);
}
.wrapper .dataBox .data-right li p {
  font-size: 0.56rem;
  color: #00b4ff;
  margin-top: 5px;
}
.wrapper .dataBox .data-right li p span {
  font-size: 0.32rem;
  padding-left: 5px;
}
.wrapper .dataBox .data-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.wrapper .dataBox .data-bottom li {
  padding-top: 60px;
  text-align: center;
}
.wrapper .dataBox .data-bottom li div {
  position: relative;
  color: #333;
  font-size: 0.28rem;
}
.wrapper .dataBox .data-bottom li div:before {
  font-size: 0.9rem;
  color: #00b4ff;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -0.4rem;
}
.wrapper .dataBox .data-bottom li div p {
  font-size: 0.56rem;
  color: #00b4ff;
  margin-top: 5px;
}
.wrapper .dataBox .data-bottom li div p span {
  font-size: 0.32rem;
  padding-left: 5px;
}
.wrapper .newBox {
  background: url(../Images/newbg.jpg) no-repeat 100% 100%;
}
.wrapper .newBox .newinfo {
  position: relative;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 4rem;
}
.wrapper .newBox .newinfo .new-left {
  position: absolute;
  top: 2.3rem;
  left: 0;
  border-right: 2px solid #fff;
  padding: 60px 0;
}
.wrapper .newBox .newinfo .new-left li {
  cursor: pointer;
  border-right: 0px solid #ffcc00;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 0.32rem;
  color: #fff;
}
.wrapper .newBox .newinfo .new-left li.hover,
.wrapper .newBox .newinfo .new-left li:hover {
  border-right: 2px solid #ffcc00;
  color: #ffcc00;
  position: relative;
  right: -2px;
}
.wrapper .newBox .newinfo .new-right li {
  min-height: 376px;
  position: relative;
  padding-bottom: 40px;
  background: #052e72;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  margin: 0 1%;
  width: 31.3%;
}
.wrapper .newBox .newinfo .new-right li .imgset {
  width: 100%;
  max-height: 164px;
}
.wrapper .newBox .newinfo .new-right li .infos {
  padding: 10px;
}
.wrapper .newBox .newinfo .new-right li .infos .tit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.32rem;
  font-weight: bold;
  padding: 20px 0 10px;
  color: rgba(255, 255, 255, 0.8);
}
.wrapper .newBox .newinfo .new-right li .infos .txt {
  font-size: 0.28rem;
  color: #5f7fb4;
  max-height: 100px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .newBox .newinfo .new-right li .time {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.24rem;
  color: #5f7fb4;
}
.wrapper .newBox .newinfo .new-right li:hover {
  background: rgba(5, 46, 114, 0.5);
}
.wrapper .newBox .newinfo .new-right li:hover .infos .tit,
.wrapper .newBox .newinfo .new-right li:hover .infos .txt {
  color: #fff;
}
.wrapper .newBox .newinfo .new-right .btn {
  font-size: 0.24rem;
  border: 1px solid #00b4ff;
  color: #00b4ff;
  padding: 10px 20px;
  float: right;
  margin: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper .newBox .newinfo .new-right .btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.wrapper .px-article {
  padding-top: 130px;
}
.wrapper .px-head-title {
  margin-top: 83px;
}
.popBg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.cursorbtn {
  cursor: pointer;
}
.container {
  margin-top: 100px;
}
.px-head-title {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.px-head-title > img {
  display: block;
  width: 100%;
}
.px-head-title > .content {
  position: absolute;
  text-align: center;
  height: 50%;
  top: 50%;
  left: 50%;
}
.px-head-title > .content > .content-info,
.px-head-title > .content > .content-line,
.px-head-title > .content > .content-title {
  position: relative;
  left: -50%;
  top: -25%;
}
.px-head-title > .content > .content-title {
  color: #fff;
  font-size: 22px;
}
.px-head-title > .content > .content-line {
  margin: 0;
  margin-top: 10px;
  height: 2px;
  background: #fff;
  width: 20px;
  left: -10px;
}
.px-head-title > .content > .content-info {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 14px;
  color: #666566;
}
.px-foot {
  width: 100%;
}
.px-site-info {
  overflow: hidden;
  width: 100%;
  height: 42px;
  background: #000;
  color: #b3b3b3;
  text-align: center;
  font-size: 12px;
  line-height: 42px;
}
.px-foot-container {
  width: 100%;
  min-height: 190px;
  background-color: #202020;
}
.px-foot-container > .px-foot-main {
  margin: auto;
  max-width: 75pc;
  color: #b3b3b3;
}
.px-foot-logo {
  float: left;
  padding-left: 5pc;
  width: 20%;
  min-width: 165px;
}
.px-foot-logo > .px-title {
  padding-top: 15px;
  font-size: 1pc;
}
.px-foot-logo > .px-number {
  padding: 30px 0 25px;
  font-size: 20px;
}
.px-foot-logo > .px-logo {
  width: 135px;
  height: 28px;
  background: url(../Images/logo2.png);
}
.px-foot-address {
  float: left;
  width: 40%;
  max-width: 470px;
  min-width: 390px;
}
.px-address-msg {
  margin: auto;
  padding-top: 45px;
  width: 390px;
  font-size: 9pt;
  line-height: 20px;
}
.px-foot-tel {
  float: left;
  width: 20%;
  max-width: 310px;
  min-width: 150px;
}
.px-tel-msg {
  margin: auto;
  padding-top: 45px;
  width: 150px;
  font-size: 9pt;
  line-height: 20px;
}
.px-foot-code {
  float: left;
  padding-top: 25px;
  width: 20%;
  max-width: 250px;
  min-width: 168px;
}
.px-foot-code > img {
  display: block;
  margin: auto;
  width: 8pc;
  height: 8pc;
}
.px-foot-code > .px-code-text {
  padding-top: 6px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.px-ui-textellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-success {
  background-color: #00b4ff;
  border-color: #00b4ff;
}
.btn-success:hover {
  background-color: #0084bb;
  border-color: #0084bb;
}
#floatbtn a.hover:hover:before {
  background-color: #00b4ff;
}
.article-metas .metas-body .title a:hover {
  color: #00b4ff;
}
@-webkit-keyframes FlipInY {
  0% {
    -webkit-transform: rotateY(360deg);
  }
  40% {
    -webkit-transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@-moz-keyframes FlipInY {
  0% {
    -moz-transform: rotateY(360deg);
  }
  40% {
    -moz-transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@keyframes FlipInY {
  0% {
    transform: rotateY(360deg);
  }
  40% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media (max-width: 1190px) {
  .wrapper .conMain {
    width: 100%;
  }
  .join-allimg {
    padding: 20px;
  }
  .join-allimg img {
    width: 100%;
  }
}
@media (max-width: 1190px) {
  .wrapper .header {
    line-height: 45px;
  }
  .wrapper .header img {
    height: 45px;
  }
  .wrapper .header .logohide {
    display: block;
  }
  .wrapper .header .logo {
    display: none;
  }
  .wrapper .header .nav li a {
    color: #333333;
  }
  .wrapper .conMain {
    width: 100%;
  }
  .wrapper .conMain .telBox {
    display: none;
  }
  .wrapper .main {
    padding-top: 45px;
  }
  .join-allimg {
    padding: 20px;
  }
  .join-allimg img {
    width: 100%;
  }
  .wrapper .header .nav li .twomenu {
    top: 44px;
  }
  .container {
    margin-top: 60px;
  }
}
@media (max-width: 980px) {
  .wrapper .fiveiconBox .fiveicon-list li {
    width: 31%;
  }
}
@media (max-width: 992px) {
  .px-foot-logo {
    padding-left: 0;
  }
  .px-foot-code {
    float: right;
  }
  .px-foot-container {
    padding: 0 10px;
  }
}
@media (max-width: 950px) {
  .wrapper .advBox .advimg img {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .wrapper .Rule .text .pcimg img {
    width: 100%;
  }
  .wrapper .dataBox .data-right li {
    margin-bottom: 20px;
  }
  .wrapper .advBox .advBox-list .w5 img {
    width: 100%;
  }
  .wrapper .advBox .advBox-list .w5.noimgW img {
    width: auto;
  }
}
@media (max-width: 768px) {
  .px-head-title > .content {
    top: 10px;
  }
}
@media (max-width: 750px) {
  .wrapper .mt100 {
    margin-top: 20px;
  }
  .wrapper .title {
    padding: 20px 0;
  }
  .wrapper .pb100 {
    padding-bottom: 20px;
  }
  .wrapper .navBtn {
    display: block;
  }
  .wrapper .header .nav {
    height: 0;
    position: absolute;
    right: 0;
    top: 45px;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .wrapper .header .nav li {
    float: none;
    font-size: 12px;
    line-height: 44px;
    border-top: 1px solid #ddd;
  }
  .wrapper .header .nav li:first-child {
    border: none;
  }
  .wrapper .header .nav li a.active,
  .wrapper .header .nav li a:hover {
    background: #00c0fc;
    color: #fff;
  }
  .wrapper .header .nav li a.active:before,
  .wrapper .header .nav li a:hover:before {
    display: none;
  }
  .wrapper .allfooter {
    display: none;
  }
  .wrapper .header .nav li:hover .twomenu {
    display: none;
  }
  .wrapper .dataBox .data-bottom li div:before {
    top: -35px;
  }
  .wrapper .dataBox .data-right li {
    margin-bottom: 10px;
    padding: 5px 0;
  }
}
@media (min-width: 750px) {
  .wrapper .popBg {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .px-foot-code {
    display: none;
  }
  .px-head-title > .content > .content-title {
    font-size: 16px;
  }
  .px-head-title > .content > .content-line {
    margin-top: 2px;
  }
  .px-foot-address {
    min-width: 0;
  }
  .px-address-msg {
    width: auto;
  }
}
