a{
	text-decoration: none;
	cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a:focus{
	outline: 0;
}
.px-body-content{
	box-sizing: border-box;
	padding: 20px 20px 40px 20px;
    margin: auto;
    max-width: 1200px;
}
.table-panel-head{
	text-align: center;
}
.table-panel-btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin: 0 8px;
    outline: 0;
}
.table-panel-head .table-panel-btn{
	background: #E9E9E9;
	color: #727272;
}
.table-panel-head .table-panel-btn.active{
	background: #00b4ff;
	color: #fff;
}
.table-panel-list{
	
}
.table-panel-list .item{
	width: 33%;
	box-sizing: border-box;
	float: left;	
	padding: 30px 8px;
}
.table-panel-list .item img{
	display: block;
	width: 100%;	
}
.table-panel-list .item .text{
	padding: 10px 15px 30px 15px;
	border: 1px solid #e9e9e9;
	height: 130px;
    overflow: hidden;
}
.table-panel-list .item .text .title{
	color: #333;
	font-size: 16px;
	font-weight: bolder;
}
.table-panel-list .item .text .info{
	padding-top: 12px;
	color: #2f2f2f;
	font-size: 14px;
	line-height: 27px;
}
.px-pagenation{
    color: #595860;
    text-align: center;
    width: 430px;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.px-pagenation .pagenum.indexpage, .px-pagenation .pagenum.lastpage, .px-pagenation .pagenum.nextpage {
    background: rgba(255,255,255,0);
    color: #595860;
}
.px-pagenation .pagenum {
    float: left;
    min-width: 30px;
    padding: 3px 5px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    background: #f5f5f5;
    border: 1px solid #00a7ff;
    box-sizing: border-box;
}
.px-pagenation .pagenum.pagetext, .px-pagenation .pagenum.totalpage {
    border-radius: 0px;
    background: rgba(255,255,255,0);
    border: none;
}
.px-pagenation .pagenum.totalpage{
	margin-right: 0;
	padding-right: 0;
}
.px-pagenation .pagenum.curpage {
    background: #00a7ff;
    color: #fff;
}
.px-pagenation .pageinput {
    text-align: center;
    border: 1px solid #a9a9a9;
    width: 30px;
    margin: 0 3px;
    line-height: 17px;
    box-sizing: border-box;
    vertical-align: top;
}
.table-panel-ul{
	padding-top: 25px;
}
.table-panel-ul .item{
	width: 50%;
	box-sizing: border-box;
    float: left;
    padding: 12px 15px;
}
.table-panel-ul .item:hover{
	-moz-box-shadow: 0px 0px 12px #c6eeff;
	box-shadow: 0px 0px 12px #c6eeff;
}
.table-panel-ul .item .content{
	padding: 12px 30px 15px 10px;
}
.table-panel-ul .item .content .content-left{
	float: left;
	width: 50px;
}
.table-panel-ul .item .content .content-left .month{
	font-size: 16px;
	font-weight: bolder;
	color: #333;
}
.table-panel-ul .item .content .content-left .year{
	font-size: 14px;
	padding-top: 6px;
	color: #555;
}
.table-panel-ul .item .content .content-right{
	width: 100%;
	padding-left:50px ;
	color: #333;
}
.table-panel-ul .item .content .content-right .title{
	font-size: 16px;
	padding-bottom: 9px;
}
.table-panel-ul .item .content .content-right .info{
	font-size: 12px;
	line-height: 20px;
	padding-left: 8px;
	height: 45px;
    overflow: hidden;
}
#px-list2{
	display: none;
}
@media (max-width: 992px){
	.px-body-content{
		padding:20px 10% 40px 10% ;
	}
}

@media (max-width: 768px){
	.table-panel-list .item{
		width: 50%;
	}
	.px-pagenation{
		width: 410px;
	}
	.px-pagenation .pagenum{
		padding: 3px 3px;
		margin-right: 1px;
	}
	.table-panel-ul .item{
		width: 100%;
	}
}
@media (max-width: 480px){
	.table-panel-list .item{
		width: 100%;
	}
}






















